{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Connexion - BdE INSA Lyon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
</head>
<body>
<div class="container" id="form">
    <img class="logo" src="http://logos.bde-insa-lyon.fr/bde/bde_70px.png">
    <form method="post" id="login-form">
        {% csrf_token %}
        <div class="form-input">
            <label for="login">Identifiant&nbsp;:</label>
            <input type="text" id="login" name="login" class="input" placeholder="Identifiant"/>
        </div>
        <div class="form-input">
            <label for="password">Mot de passe&nbsp;:</label>
            <input type="password" id="password" name="password" class="input" placeholder="Mot de passe">
        </div>
        <div class="form-input">
            <button class="button" type="submit">
                Connexion
            </button>
            <p></p>
        </div>
    </form>
</div>
</body>
</html>